passwords.txt
keys/*
*.oar
__pycache__/*

openai_key.txt
llm_api_key.txt
app_password.txt
logfile.txt
liquidsoap-logs/*
icecast-logs/*
generated_audio/*

volumes/*

*.mp3

notes.md

.vscode/
ai-talkmaster.code-workspace

call_for_proposals.md

docker-hosting/docker-compose-hypergrid*

lsl-scripts/CustomScripts/*