passwords.txt
keys/*
*.oar
__pycache__/*

openai_key.txt
llm_api_key.txt
app_password.txt
logfile.txt
liquidsoap-logs/*
icecast-logs/*
generated_audio/*

aitalkmaster-server/confgis/
aitalkmaster-server/configs/docker-hypergrid*

docker-hosting/docker-compose-hypergrid*
docker-hosting/hypergrid*

volumes/*
volumes_opensource/*
volumes_openai/*


*.mp3

notes.md

.vscode/
ai-talkmaster.code-workspace

call_for_proposals.md

about/OSCC2025.pptx
about/~$OSCC2025.pptx
about/vej.docx
about/~$vej.docx
about/~WRL0003.tmp


lsl-scripts/CustomScripts/*
lsl-scripts/SL_Versions/*